header {
  position: sticky; 
  top: 0;
  z-index: 10000;
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
}
.img-nav {
  background-position: center;
  background-size: contain;
  width: 50px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}