{% extends 'mainpage.html' %}
{% block title %}
Войти в пчелограм
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
                <div class="form">
                <h1>Вход</h1>
                <hr>
                <form action="/sign" method="POST">
                    
                        <div class="form-group">
                            <label>Ваше имя</label>
                            <input name="username" type="text" class="form-control" placeholder="Вероника">
                            <!-- <small>Minimum 8 letters</small>  -->
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" type="text" class="form-control" placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label>Пароль</label>
                            <input name="password" type="text" class="form-control" placeholder="minimum 8 letters">
                        </div>
                        <div>
                        <button class="submit btn btn-secondary form-control">
                            Войти
                        </button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}